@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #051926;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container{
    background: white;
    padding: 20px;
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(108, 163, 189);
    border-radius: 2px solid #2342db;
}
h1{
    
    text-align: center;
    margin-bottom: 10px;
    
}
.heading h1{
    background-color: whitesmoke;
    width: 100%;
    color:#112172;
    box-shadow: 0 0 10px #31166d;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.balance{
    text-align: center;
    background-color:#405dee;
    color: #f6f8fa;
    border-radius: 8px;
    padding-top: 10px ;
    margin-top: 20px;
 border: 2px dotted;
}

.balance h1{
    margin: 0;
  font-style: 2.5rem;
}

.incomeExpense{
    
    display: flex;
    justify-content:space-between;
    margin: 20px 0;
    flex-wrap: wrap;
    border-radius: 10px;
}

.income {
    margin-right: 10px;
    background-color: #3bb549;
    border-radius: 10px;
    color: #f6f8fa;
    flex: 1;
    text-align: center;
    border: 3px dashed;

}
.expense{
    border-radius: 10px;
    color: #f6f8fa;
    flex: 1;
    text-align: center;
    border: 3px dashed;

}

.expense{
  background-color: #ff0505;
}
.money{
    font-size: 1.5rem;
    margin: 5px 0;
}

.Plus {
    color:white ;
    font-weight: 800;
}

.plus{
    color:#3bb549;
    font-weight: 800;
}
.Mins {
    color: #e7ebe7;
    font-weight: 800;
}

.minus{
    color:#ff0505;
    font-weight: 800;
}
.list{
    list-style: none;
    padding: 0;
    max-height: 120px;
    overflow-y: auto;
}

.list li{
    background-color:white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #2342db;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list .plus span ,.list .minus span{
padding-right: 5px;
}
.list .plus{
    border-color:#3bb549;
}

.list .minus{
    border-color: #ff0505;
}
.formControl label{
 display: block;
 margin-top: 5px;
 margin-bottom: 3px;
 font-weight: 500;
 font-family:serif;
 font-weight: 550;
}

.formControl input{
    width: 100%;
    padding: 8px;
    border: 2px dotted #2342db;
    border-radius: 6px;
    margin-top: 6px;
}

.btn{
    width: 100%;
    padding: 10px ;
    margin-top: 10px;
    background-color: #2342db;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 7px;
}

.btn:hover{
    background-color: #42519b;
}

.delete{
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: 800;
    color: white;
    background-color: #ff0505;
    border-radius: 50%;
    
}

@media screen and (max-width:480px){
    /* .container{
        max-width: 100%;
    }
     */
    .balance h1{
        font-size: 1.5rem;
    }

    .incomeExpense{
        flex-direction: row;
    }

    .btn{
        font-family: 0.9rem;
    }
}